@font-face {
  font-family: 'SFUI Display';
  src: local('☺︎'),
  local('SFUI Display'),
  url('../fonts/SFUIDisplay-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'SFUI Display Semibold';
  font-weight: 400;
  src: local('☺︎'),
  local('SFUI Display Semibold'),
  url('../fonts/SFUIDisplay-Semibold.woff2') format('woff2');
}
@font-face {
  font-family: 'SFUI Display Heavy';
  font-weight: 400;
  src: local('☺︎'),
  local('SFUI Display Heavy'),
  url('../fonts/SFUIDisplay-Heavy.woff') format('woff');
}


