// Colors
$black: #000;
$white: #fff;
$lightGrey: #f9f9f9;
$mineShaft: #252525;
$codGray: #191919;
$Scooter: #27c5dc;
$dustyGray: #959595;
$darkGray: #5d5d5d;
$silver: #CDCDCD;
$silverWhite: #f9f9fa;
$mischka: #D4D8DE;
//width
$narrowMenuScreenWidth: 1199px;
$containerWidth: 1130px;
//shadow
$basicShadow:  -3px 12px 21px rgba(39, 197, 220, 0.4);
$buttonShadow: 0 12px 21px rgba(46, 228, 255, 0.4);